body{
    background-color: rgb(249, 237, 239);
width: 90%;
max-width: 900px; margin: 0 auto;
}
.logo{
    display: flex;
    justify-content: center;
}
.zapatos{
    width: 150px; height: 150px;  border-radius: 5px;
    background-color: rgb(242, 212, 216);padding: 1em;
    float: left;
    margin-right: 15px;
}
.zapatos2{
    width: 150px; height: 150px; border-radius: 5px;
    background-color: rgb(242, 212, 216);padding: 1em;
    float: right;
    margin-left: 15px;
}
.talles{
    background-color: rgb(252, 215, 220);
    padding: 10px;
    color: rgb(0, 0, 0);
}
.talles2{
    background-color: rgb(252, 215, 220);
    padding: 10px;
    color: rgb(0, 0, 0);
    text-align: right;
}
.derecha{
    text-align: right;
}
.c1{
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.tabla{
    background-color:rgb(252, 208, 215);
}
.t1{
    text-align: center;
    background-color: rgb(252, 208, 215);
    padding: 20px;
}
footer {
    background-color: rgb(225, 176, 183);
    text-align: center;
    height: 50px
}
.vendido{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: rgb(107, 76, 81);
}
td {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: rgb(87, 61, 66);

}
.ultimo{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}